# ==== PostgreSQL (docker-compose) ====

POSTGRES_DB=financetrack_financeservice_db
POSTGRES_USER=financetrack_financeservice_user
POSTGRES_PASSWORD=postgres

POSTGRES_PORT_INTERNAL=5432
POSTGRES_PORT_EXTERNAL=16010

# ==== ASP.NET Core connection settings ====

# Host:
# - localhost (app launch outside Docker)
# - db (app launch inside Docker)
DB_HOST=localhost

# Port to connect to PostgreSQL: internal or external
DB_PORT=${POSTGRES_PORT_EXTERNAL}

DB_NAME=${POSTGRES_DB}
DB_USER=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}
