# Keycloak database
KC_DB_USER=keycloak
KC_DB_PASSWORD=keycloak
KC_DB_NAME=keycloak
## Custom vars
KC_DB_PORT_EXTERNAL=15432
KC_DB_PORT_INTERNAL=5432

# Keycloak admin
KC_ADMIN_USERNAME=admin
KC_ADMIN_PASSWORD=admin

# Public config
KC_HTTP_PORT=80
KC_PUBLIC_PORT=16000