# Docker compose
COMPOSE_PROJECT_NAME=financetrack-finance-dev

# App database
POSTGRES_USER=finance
POSTGRES_PASSWORD=finance
POSTGRES_DB=finance
POSTGRES_PORT_EXTERNAL=15950
POSTGRES_PORT_INTERNAL=5432

# App
APP_PORT_HTTP_EXTERNAL=16020
APP_PORT_HTTPS_EXTERNAL=16021